*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}

.images{
    position: fixed;
    top: 35vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.images img{
    width: 300px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    margin: 50px;
    color: white;
}

p{
    margin: 20px;
}

.container a{
    color: white;
}

.container h1{
    font-family: "Oswald", sans-serif;
    margin-bottom: 50px;
    font-size: 60px;
}

.container button {
    font-family: "Roboto Slab", sans-serif;
    width: 300px;
    height: 50px;
    border-radius: 40px;

}

@media screen and (max-width: 1040px) {
    .images{
        position: fixed;
        top: 55vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .images img{
        width: 200px;
    }
}
@media screen and (max-width: 570px) {
    .images{
        display: none;
    }
}